.orders {
  min-height: 1000px;
  margin-bottom: 50px;
}

.order-subtext {
  font-weight: bolder;
}

.order-text {
  font-weight: lighter;
}

.order-card {
  border: 1px solid #ddd;
  padding: 20px;
  transition: box-shadow 1s;
  box-shadow: 0px 0px 20px 0px #c5c5c5;
  margin-bottom: 30px;
  float: left;
  border-radius: 10px;
  width: 23rem;
  height: auto;
}

.accepted-orders {
  color: red;
}

.orders-in {
  color: blue;
}

.completed-orders {
  color: grey;
}

.column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.order-status {
  text-transform: uppercase;
  font-size: 1.2rem;
}
.order-statussub {
  color: black;
}
