.logo {
  height: 4rem;
}
.user {
  height: 3rem;
}
.checkoutButton {
  background-color: unset;
  border: unset;
}

.cartIcon {
  width: 3rem;
}

.text {
  color: white;
}

@media screen and (max-width: 600px) {
  .cartText {
    font-size: 10px;
  }
  .checkoutText {
    font-size: 10px;
  }
  .logo {
    height: 3rem;
  }
  .navbar-toggler-icon {
    width: 1em;
    height: 1em;
  }
}
